<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Save.CallServerSavePipeline" 
               set:type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.CallServerSavePipeline, Sitecore.Support.314053" />

      <request name="ExperienceEditor.Save.CheckRevision" 
               set:type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.CheckRevision, Sitecore.Support.314053"/>
      
      <request name="ExperienceEditor.Save.CheckTemplateFieldChange" 
               set:type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.CheckTemplateFieldChange, Sitecore.Support.314053" />

      <request name="ExperienceEditor.Save.ValidateFields" 
               set:type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.ValidateFields, Sitecore.Support.314053" />

      <request name="ExperienceEditor.Save.Validators" 
               set:type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.SaveItem.Validators, Sitecore.Support.314053" />

      <request name="ExperienceEditor.FieldsValidation.ValidateFields" 
               set:type=" Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.FieldsValidation.ValidateFields, Sitecore.Support.314053" />
      
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>